<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <mapping class="ru.demo.sessia4.model.Student"/>
    </session-factory>
</hibernate-configuration>

CREATE TABLE students (
    id SERIAL PRIMARY KEY,
    specialty_code VARCHAR(6) NOT NULL,
    last_name VARCHAR(20) NOT NULL,
    first_name VARCHAR(20) NOT NULL,
    middle_name VARCHAR(20),
    birth_year INT NOT NULL
);
